/* Site Styles Go Here */
.footer-flex {
    display:flex; flex-direction:row; justify-content:space-between
}
.footer-item-flex {
    flex:0 1 auto;
}
.card-header{
    text-align: center;
}
body {
background-color: #808080;
}

/*zoom*/
.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  /*card body background*/
  
/*text color*/
.Nav-C {
color:#5bebf0;
font: 30px sans-serif;
}
h1,h2 {
color:#5bebf0;
}
.col-lg-6,.col-lg-4s,.col-lg-8 {
    color:white;
}
h3,h4 {
    color: #5bebf0;
}
