/* Site Styles Go Here */
.footer-flex {
    display:flex; flex-direction:row; justify-content:space-between
}
.footer-item-flex {
    flex:0 1 auto;
}
.card-header{
    text-align: center;
}

/*zoom*/
.zoom:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  /*card body background*/
  .card-body{
      
}